html {
    height: 100%;
}

body {
    height: 100%;
    padding: 128px;
    background-image: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

input {
    margin-top: 16px;
}

input[type=text] {
    display: inline-block;
}

input[type=submit] {
    display: block;
}

.card.border-primary.mb-3 {
    margin: auto;
    width: 40rem;
}

.card.border-primary.big-card {
    margin: auto;
    width: 60rem;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}