<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min-2.css') }} ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }} ">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <form action="/result" method="post" autocomplete="off">
        <div class="autocomplete">
            <input id="state_input" type="text" placeholder="Enter US State" name="state" class="form-control" required="required">
        </div>
        <div class="autocomplete">
            <input id="county_input" type="text" placeholder="Enter County" name="county" class="form-control d-none" required="required">
        </div>
        <input id="submit" type="submit" disabled value="Get Advice" class="btn btn-primary btn-lg">
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }} "></script>
</body>

</html>