<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }} ">
    <title>Coronavirus-Assistant</title>
</head>

<body>
    <h1>Coronavirus-Assistant</h1>
    <form action="/result/">
        <input type="text" placeholder="Enter Your City Name" name="city">
        <input type="submit" value="Get Advise">
    </form>
</body>

</html>
